*{
    margin: 0;
    padding: 0;
    background-color: white;
}

.top{
    margin: 10px;
    font-size: medium;
    color: lightgray;
}

.circ{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: gray;
}
.nazev{
    color: gray;
}

.foot{
    text-align: center;
    font-size: smaller;
    color: gray;
}

.foot a{
    color: gray;
}

.joe{
    margin: 15px;
    color: gray;
}